asgiref==3.8.1
certifi==2025.6.15
charset-normalizer==3.4.2
Django==5.1.7
djangorestframework==3.16.0
dnspython==2.8.0
dotenv==0.9.9
git-filter-repo==2.47.0
gunicorn==23.0.0
idna==3.10
numpy==2.2.6
packaging==25.0
pandas==2.2.3
psycopg2==2.9.10
pymongo==4.15.3
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
PyYAML==6.0.2
requests==2.32.4
six==1.17.0
sqlparse==0.5.3
tzdata==2025.1
urllib3==2.5.0
whitenoise==6.11.0
